.mylink:hover{
 color:#22619f;
}
.mylink::after{
    content:'';
    display:block;
    width:0;
    height:2px;
    background-color:#22619f;
    transition:width .3s;
}
 .mylink:hover::after{
 width:100%;
 transition: width .3s;
}
.banner{
    width:100%;
    height:auto;
    min-height:400px;
    background-image: url('../Image/undraw.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center ;
    /* background-attachment: fixed; */
    padding: 200px 0 100px 0;
    
}
