.mylink:hover{
 color:#22619f;
}
.mylink::after{
    content:'';
    display:block;
    width:0;
    height:2px;
    background-color:#22619f;
    transition:width .3s;
}
 .mylink:hover::after{
 width:100%;
 transition: width .3s;
}
.banner{
    width:100%;
    height:auto;
    min-height:400px;
    background-image: url('../Image/undraw.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center ;
    /* background-attachment: fixed; */
    padding: 200px 0 100px 0;
    
}
.subtitle{
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size:16px;
    margin-bottom:12px;
    background-image: linear-gradient( to right, #f10486, rgb(7, 117, 80),rgb(248, 19, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent


}
.pcard{
    height:100%;
    min-height:300px;
    overflow:hidden;
    border:1px solid black;
    cursor:pointer;
    box-shadow: 0 0 16px 1px blue;
}
.pspan{
     background-image:url(../Image/chatapp.png)
}
.pspan{
    transition:background-position 4s ease-in-out 0s;
    width:100%;
    height: 100%;
    background-position:top center;
    background-size:cover;

}
.pcard:hover .pspan{
    background-position: bottom center;
}
