.mylink:hover{

    color:#22619f;
}
.mylink::after{
    content:'';
    display:block;
    width:0;
    height:2px;
    background-color:#22619f;
    transition:width .3s;

}
 .mylink:hover::after{
 width:100%;
 transition: width .3s;
 }